body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

form {
    margin-bottom: 20px;
}

img {
    max-width: 500px;
    margin-top: 20px;
    /* Corrected property for image size */
    width: 250px; /* Set the width of the image to 250px */
    height: auto; /* Maintain aspect ratio */
}

