<!DOCTYPE html>
<html>
<head>
    <title>Snapfolia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload an Image</h1>
        <form id="uploadForm" method="POST" enctype="multipart/form-data" action="{{ url_for('upload_image') }}">
            <input type="file" id="fileInput" name="file" accept=".jpg, .png, .jpeg">
            <img id="imagePreview" src="#" alt="Image Preview" class="hidden">
            <input type="submit" value="Save Image">
        </form>

        <div class="image-gallery">
            <button type="button" class="button">View Uploaded Images</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/scripts.js') }}"></script>
</body>
</html>
